params {

    indir = "$baseDir/APAeval_Q_test_data/"

    // List of input files (in the same string, separated by spaces)
    // The order of input files has to match the order of challenge IDs below
    input = "${params.indir}/test.pd.mm10_test.bed ${params.indir}/second.pd.mm10_test.bed"


    // Challenge IDs (in the same string, separated by spaces) for which the benchmark has to be performed
    // The order of challenge IDs has to match the order of input files above
    challenges_ids  = "test.gt.mm10_test second.gt.mm10_test"
}