// General configuration used in all profiles
manifest {
  description = 'APAeval Benchmark Workflow' 
  nextflowVersion = '>=19.10.0'
  version = '1.0.3'
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

   docker {
      process {
          withName: validation{
            container = "docker.io/apaeval/q_validation:1.0"
          }
      }
      process {
          withName: compute_metrics{
            container = "docker.io/apaeval/q_metrics:1.0"
          }
      }
      process {
          withName: benchmark_consolidation{
            container = "docker.io/apaeval/q_consolidation:1.0"
          }
      }
      
      docker.enabled = true
      // set time zone for running docker containers
      docker.runOptions = '--user \$(id -u):\$(id -g) -e TZ="\$([ -z \\"\$TZ\\"] && cat /etc/timezone || echo \\"\$TZ\\")"'
  }
}

// default parameter values

params  {

  // submitted file
  input = "$baseDir/APAeval_Q_test_data/embryonicCortex.PAPERCLIP.mm10.bed"

  // name of the tool used for the predicitions
  participant_id = "tool1"

  // directory where the 'gold standards' are found
  goldstandard_dir = "$baseDir/APAeval_Q_test_data/metrics_ref_datasets"

  // Challenge IDs (in the same string, separated by spaces) for which the benchmark has to be performed
  challenges_ids  = "Qx embryonicCortex.PAPERCLIP.mm10"

  // directory where APAeval benchmarking data is found
  assess_dir = "$baseDir/APAeval_Q_test_data/data"

  //name or OEB permanent ID for the benchmarking community
  community_id = "APAeval"

  // Boolean operator: if set to CLOSED the whole workflow is executed; if OPEN, metrics are computed but aggregation/consolidation is not performed
  // challenge_status = "CLOSED"

  // directories where results will be written
  output = "${participant_id}_benchmark_results"
  validation_result = "${params.output}/validated_participant_data.json"
  assessment_results = "${params.output}/assessment_datasets.json"
  outdir = "${params.output}/results"
  statsdir = "${params.output}/stats"
  consolidation_result = "${params.output}/consolidated_result.json"
  otherdir = "${params.output}/other"

  // other parameters
  windows = "100 50 10" // type int, several values inside string separated by spaces. The first value is used for MSE calculation.
  genome_dir = "$baseDir/APAeval_Q_test_data" 
  offline = 0 // type int; 0 for False

  //set DEFAULT_eventMark
  event_date = '2021-06-04'
}

// By default output execution reports
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
}
