params {
    // Input data directory
    indir = "$baseDir/APAeval_Q_test_data"

    // name of the tool used for the predicitions
    participant_id = "tool1"

    // List of input files (in the same string, separated by spaces)
    // The order of input files has to match the order of challenge IDs below
    input = "${indir}/test.pd.mm10_test.bed ${indir}/second.pd.mm10_test.bed"

    // Challenge IDs (in the same string, separated by spaces) for which the benchmark has to be performed
    // The order of challenge IDs has to match the order of input files above
    challenges_ids  = "test.gt.mm10_test second.gt.mm10_test"
}