/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'final_output' {
            // 'mode' can either be 'differential' or 'identification' only
            mode = 'identification'

            // Specify the final challenge result file name and destination folder

            // Replace this path to your preferred folder under Dapars/results/dapars/
            output_dir = 'challenge_outputs'

            // output file for identification challenge should end with .bed
            // output file for differential challenge should end with .tsv
            output_file = 'identification_output.bed'
        }
        'files' {
            // absolute path to gtf genome file
            genome_file = '/Users/fzhuang/Desktop/APAeval/APAeval/tests/test_data/gencode_2genes_Chr_prefix.vM18.annotation.gtf'
        }
        'check_samplesheet' {
            publish_dir   = 'public_data'
        }
        'create_config_file' {
            // at least how many samples passing the coverage threshold in two conditions
            num_least_in_group1 = 1
            num_least_in_group2 = 1
            // default values for parameters
            coverage_cutoff = 30
            // cutoff for FDR of P-values from Fisher exact test.
            fdr_cutoff = 0.05
            pdui_cutoff = 0.2
            fold_change_cutoff = 0.59
        }
    }
}
