params {
    // Input data directory
    indir = "$baseDir/APAeval_I_test_data"

    // name of the tool used for the predicitions
    participant_id = "tool1"

    // List of input files 
    input = ["${indir}/tool1.challenge_1.01.bed", "${indir}/tool1.challenge_2.01.bed"]

    // Challenge IDs (in the same string, separated by spaces) for which the benchmark has to be performed
    challenges_ids  = "challenge_1.mm10 challenge_2.mm10"
}