// General configuration used in all profiles
manifest {
  description = 'APAeval Benchmark Workflow' 
  nextflowVersion = '>=19.10.0'
  version = '1.0.3'
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {

   docker {
      process {
          withName: validation{
            container = "docker.io/apaeval/q2_validation:1.0"
          }
      }
      process {
          withName: compute_metrics{
            container = "docker.io/apaeval/q2_metrics:1.0"
          }
      }
      process {
          withName: benchmark_consolidation{
            container = "docker.io/apaeval/q2_consolidation:1.0"
          }
      }
      
      docker.enabled = true
      // set time zone for running docker containers
      docker.runOptions = '--user \$(id -u):\$(id -g) -e TZ="\$([ -z \\"\$TZ\\"] && cat /etc/timezone || echo \\"\$TZ\\")"'
  }
}

// default parameter values

params  {

  // submitted file
  input = "$baseDir/APAeval_Q2_test_data/embryonicCortex.PAPERCLIP.mm10.bed"

  // reference file dir to validate input data
  public_ref_dir = "$baseDir/APAeval_Q2_test_data/public_ref"

  // name of the tool used for the predicitions
  participant_id = "test"

  // directory where the 'gold standards' are found
  goldstandard_dir = "$baseDir/APAeval_Q2_test_data/metrics_ref_datasets"

  // challenge types for which the benchmark has to be performed
  challenges_ids  = "Q2"

  // directory where APAeval benchmarking data is found
  assess_dir = "$baseDir/APAeval_Q2_test_data/data"

  //name or OEB permanent ID for the benchmarking community
  community_id = "APAeval"

  // Boolean operator: if set to CLOSED the whole workflow is executed; if OPEN, metrics are computed but aggregation/consolidation is not performed
  // challenge_status = "CLOSED"

  // directories where results will be written
  validation_result = "sample_out/participant_out/validated-participant-data.json"
  assessment_results = "sample_out/assessment_out/Assessment_datasets.json"
  outdir = "sample_out/results"
  statsdir = "sample_out/stats"
  outdir = "sample_out/results"
  data_model_export_dir = "sample_out/benchmarking_data_model_export/consolidated_result.json"
  otherdir = "sample_out/other"

}

// By default output execution reports
timeline {
  enabled = true
  file = "${params.statsdir}/timeline.html"
}
report {
  enabled = true
  file = "${params.statsdir}/report.html"
}
trace {
  enabled = true
  file = "${params.statsdir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.statsdir}/DAG.dot"
}
