/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        final_output {
            // run_differential can either be true or false
            // true if running differential only
            // false if running identification and quantification only
            run_differential = false

            // Specify the final challenge result destination folder
            // Replace this name to your preferred folder name to be placed under Apatrao/results/apatrap/
            output_dir = 'challenges_outputs'

            // Specify the final challenge result file names
            identification_out_suffix = 'identification_output_test.bed'
            quantification_out_suffix = 'quantification_output_test.bed'
            differential_out = 'apatrap_differential_output_test.tsv'
        }
        'check_samplesheet' {
            publish_dir   = 'public_data'
        }
        'preprocessing' {
            // absolute path to gtf genome file
            genome_file = '/Users/fzhuang/Desktop/APAeval/APAeval/tests/test_data/gencode_2genes_noChr.vM18.annotation.gtf'
            //genome_file = '[path_to]/../../tests/test_data/gencode_2genes_noChr.vM18.annotation.gtf'

        }
        'identify_distal_3utr' {
            // Optional parameters
            // Window size used to scan the mapping result, default is 100.
            w = 100
            // Pre-extension size of each 3'UTR, default is 10000.
            e = 10000
            // minimum coverage of the end of the distal 3'UTR with comparing to the whole transcript, default is 0.05.
            c = 0.05
            // minimum percentage of valid nucleotides in a scanning-window, default is 0.8.
            p = 0.8
        }
        'predict_apa' {
            // Optional parameters
            // minimum degree of coverage variation between two adjcent APA sites, >0 and <1, default is 0.2.
            d = 0.2
            // minimum average coverage required for each 3'UTR, >=10, default is 20.
            c = 20
            // minimum distance between the predicted APA sites, >=20, default is 100.
            a = 100
            // window size used to scan the profile, >=20, default is 50.
            w = 50
        }
        'de_apa' {
            // The first group of sample to be compared, default is 1.
            group1 = 1
            // The second group of sample to be compared, default is 2.
            group2 = 2
            // Minimum number of qualified replicates in sample group1, default is 1.
            least_qualified_num_in_group1 = 1
            // Minimum number of qualified replicates in sample group2, default is 1.
            least_qualified_num_in_group2 = 1
            // Minimum coverage depth required for each sample, default is 20.
            coverage_cutoff = 20
        }
    }
}
