/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'check_samplesheet' {
            publish_dir   = 'public_data'
        }
        'identify_distal_3utr' {
            // Optional parameters for step 1 of APAtrap: identify distal 3'utr

            // Window size used to scan the mapping result, default is 100.
            w = 100
            // Pre-extension size of each 3'UTR, default is 10000.
            e = 10000
            // minimum coverage of the end of the distal 3'UTR with comparing to the whole transcript, default is 0.05.
            c = 0.05
            // minimum percentage of valid nucleotides in a scanning-window, default is 0.8.
            p = 0.8
        }
        'predict_apa' {
            // Optional and necessary parameters for step 2 of APAtrap: predict apa

            // Necessary parameters
            // number of groups (treatments/conditions) of the input files, e.g. -g 2.
            g = 2
            // number of files(biological replicates) in each group (treatment/condition), e.g. -n 1 1.
            n = '1 1'
            // name of predict apa output file to be used for step 3 of APAtrap
            o = 'de_apa_input.txt'

            // Optional parameters
            // minimum degree of coverage variation between two adjcent APA sites, >0 and <1, default is 0.2.
            d = 0.2
            // minimum average coverage required for each 3'UTR, >=10, default is 20.
            c = 20
            // minimum distance between the predicted APA sites, >=20, default is 100.
            a = 100
            // window size used to scan the profile, >=20, default is 50.
            w = 50
        }
        'de_apa' {
            // name of output file
            output_file = 'de_apa_output.txt'
            // The first group of sample to be compared, default is 1.
            group1 = 1
            // The second group of sample to be compared, default is 2.
            group2 = 2
            // Minimum number of qualified replicates in sample group1, default is 1.
            least_qualified_num_in_group1 = 1
            // Minimum number of qualified replicates in sample group2, default is 1.
            least_qualified_num_in_group2 = 1
            // Minimum coverage depth required for each sample, default is 20.
            coverage_cutoff = 20


        }
        'postprocessing' {
            // Set the names of the files for each challenge
            identification_out = 'apatrap_identification_output.bed'
            quantification_out = 'apatrap_quantification_output.bed'
            differential_out = 'apatrap_differential_output.tsv'
        }
    }
}
