/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'run_mode' {
            // Always set run_identification to false - CSI-UTR uses a pre-provided polyA site annotation and does not perform de-novo identification
            run_identification = false
            run_differential = true


        }
        'final_output' {
            output_dir = "challenges_outputs"

            identification_out_suffix = "identification_out.bed"

            // Which differential expression mode to use and report in differential output file. Must be one of 'DEXSeq', 'PAIRWISE' or 'WITHIN_UTR'
            differential_type = "DEXSeq"

            differential_out = "control_vs_srsf3_differential_out.tsv"
        }
        'files' {
            /*
                Absolute path to gtf genome file
                e.g genome_file = '/home/fzhuang/apaeval/APAeval/execution_workflows/CSI-UTR/../../tests/test_data/gencode_2genes_Chr_prefix.vM18.annotation.gtf'
            */
            genome_file = '[path_to]/../../tests/test_data/gencode_2genes_Chr_prefix.vM18.annotation.gtf'

            /*
                Absolute path to the downloaded CSI bed file
                e.g CSI_bed_file = '/home/fzhuang/apaeval/APAeval/execution_workflows/CSI-UTR/data/locations/Mm10.CSIs.bed'
            */
            CSI_bed_file = '[path_to]/data/locations/Mm10.CSIs.bed'

            /*
                Absolute path to the downloaded CSI annotation file
                e.g CSI_annotation_file = '/home/fzhuang/apaeval/APAeval/execution_workflows/CSI-UTR/data/annotations/Mm10.CSIs.annot.bed'
            */
            CSI_annotation_file = '[path_to]/data/annotations/Mm10.CSIs.annot.bed'
        }
        'csi_utr' {
            // genome version, default: Rn6 -- Other options are Mm10, Hg38, Rn6_extended
            genome = 'Mm10'
            // read length, default: 75
            r = 75
            // coverage cutoff, default: 0.08
            coverage_cut = 0.08
            // usage cutoff, default: 1
            usage_cut = 1
            // p value significance cutoff, default: 0.05
            p = 0.05
            // FDR significance cutoff, default: 0.10
            q = 0.10
        }
    }
}
