/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'run_mode' {
            // star index process
            // only set to true if it hasn't been done yet for this genome, this process takes around 25 minutes
            run_star_genome_generate = false
        }
        'output_files' {
            // name of the directory the identification challenge output file will be in
            // default: "challenges_outputs"
            output_dir = "challenges_outputs"
            
            // suffix of the identification output file that will be preceeded by the sample name
            // default: "identification_output.bed"
            identification_out_suffix = 'identification_output.bed'
        }
        'check_samplesheet' {
            publish_dir   = 'public_data'
        }
        'files' {
            // absolute path to gtf genome file
            // if using APAeval test data, the file is provided in tests/test_data folder
            gtf_genome_file = '[path_to]/../../tests/test_data/gencode_2genes_Chr_prefix.vM18.annotation.gtf'
            
            // absolute path to downloaded fasta genome file
            // if using APAeval test data, run wget https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M18/GRCm38.p6.genome.fa.gz in tests/test_data folder  
            fasta_genome_file = '[path_to]/../../tests/test_data/GRCm38.p6.genome.fa'
            
            // absolute path to star genome index
            // if obtained through the workflow, the folder is in results/isoscm/star_index
            star_genome_index = '[path_to]/results/isoscm/star_index'
        }
    }
}
