pandas
jsonschema
scipy
git+https://github.com/iRNA-COSI/APAeval.git@main#egg=matchPAS&subdirectory=utils/matchPAS
git+https://github.com/iRNA-COSI/APAeval.git@main#egg=JSON_templates&subdirectory=summary_workflows/JSON_templates